{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url({% static 'website/images/img_home_main.jpg' %})">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>How much does your car value?</h1>
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<br>
							<br>
							<br>
							<br>
							<div class="form-wrap">
								<div class="tab">
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>I want to know the value!</h3>
											<form action="redirect">
												<div class="row form-group">
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" class="btn btn-primary btn-block" value="Calculate">
													</div>
												</div>
											</form>	
										</div>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center gtco-heading">
					<h2>Save time and maximize your profits effortlessly</h2>
					<p>Mileage allows you to calculate the selling price of your vehicle in just a moment thanks to the use of artificial intelligence tools. All you have to do is enter your vehicle's information and Mileage will do the rest.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="gtco-cover gtco-cover-sm" style="background-image: url({% static 'website/images/img_home_way.jpg' %})"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>Mileage, the way to get to price</h1>
				</div>	
			</div>
		</div>
	</div>
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>This is how it works</h2>
					<p>The estimation of the value of your vehicle is done by applying complex algorithms that take into account all the variables to offer the best result</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Creation of the model</h3>
						<p>Thanks to a large vehicle database with more than 3,000,000 records, an artificial intelligence model is trained to predict vehicle prices</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Your vehicle data</h3>
						<p>Using the web application, you enter the vehicle data for the model to work its magic</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>3</i>
						</span>
						<h3>Value estimation</h3>
						<p>Using the previous information, the model is able to predict the market value of your vehicle</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gtco-cover gtco-cover-sm " style="background-image: url({% static 'website/images/img_home_parking.jpg' %})"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>Millions of cars in our database to provide you the best answer</h1>
				</div>	
			</div>
		</div>
	</div>
	<div id="gtco-counter" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Our Success</h2>
					<p>The numbers of our journey</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="3000000" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Vehicles</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Members</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="18" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Features</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="2021" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Established</span>
					</div>
				</div>	
			</div>
		</div>
	</div>

{% endblock %}