{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Model {% endblock %}
{% block content %}

  <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'website/images/img_bg_1.jpg' %})">
    <div class="overlay"></div>
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
              <span class="intro-text-small">Let the algorithm do the hard stuff!</span>
              <h1>The Model</h1> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Let's get down to the nitty-gritty!</h2>
          <p>Introduce the data of your car and click on the calculate button</p>
        </div>
      </div>
      <div class="row">

        <form method="post" action="prediction" novalidate>
              {% csrf_token %}

              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}

              {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    {{ error }} 
                  {% endfor %}
                </div>
              {% endif %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}

                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}

                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}

          <button type="submit" class="btn btn-primary">Calculate</button>
        </form>

      </div>
    </div>
  </div>








{% endblock %}	