{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Model {% endblock %}
{% block content %}

  <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'website/images/img_bg_1.jpg' %})">
    <div class="overlay"></div>
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
              <span class="intro-text-small">Let the algorithm do the hard stuff!</span>
              <h1>The Model</h1> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Let's get down to the nitty-gritty!</h2>
          <p>Introduce the data of your car and click on the calculate button</p>
        </div>
      </div>
      <div class="row">

        



<form class="" action="prediction" method="post">
          {% csrf_token %}
          {% for error in errors  %}
          <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
          </div>
          {% endfor %}
          <div class="form-row">

            <div class="form-group col-md-6">
              <label>Make:</label>
                {{ form.make }}
            </div>
            <div class="form-group col-lg-6">
              <label >Model:</label>
              <select id="id_model" class="form-control" name="state">
                <option value="-----">Select Model</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Status:</label>
              {{ form.is_new }}
            </div>
            <div class="form-group col-md-6">
              <label>Body type:</label>
              {{ form.body_type }}
            </div>
            <div class="form-group col-md-6">
              <label>Fuel type:</label>
              {{ form.fuel_type }}
            </div>
            <div class="form-group col-md-6">
              <label>Color:</label>
              {{ form.exterior_color }}
            </div>
            <div class="form-group col-md-6">
              <label>Transmission:</label>
              {{ form.transmission }}
            </div>
            <div class="form-group col-md-6">
              <label>Wheel system:</label>
              {{ form.wheel_system }}
            </div>
            <div class="form-group col-md-6">
              <label>Engine:</label>
              {{ form.engine_type }}
            </div>
            <div class="form-group col-md-6">
              <label>Horsepower:</label>
              {{ form.horsepower }}
            </div>
            <div class="form-group col-md-6">
              <label>Engine displacement:</label>
              {{ form.engine_displacement }}
            </div>
            <div class="form-group col-md-6">
              <label>Mileage:</label>
              {{ form.mileage }}
            </div>
             <div class="form-group col-md-6">
              <label>Gears:</label>
              {{ form.transmission_display }}
            </div>
            <div class="form-group col-md-6">
              <label>Year:</label>
              {{ form.year }}
            </div>
            <div class="form-group col-md-6">
              <label>Fuel tank volume:</label>
              {{ form.fuel_tank_volume }}
            </div>
            <div class="form-group col-md-6">
              <label>City fuel economy:</label>
              {{ form.city_fuel_economy }}
            </div>
            <div class="form-group col-md-6">
              <label>Highway fuel economy:</label>
              {{ form.highway_fuel_economy }}
            </div>
            <div class="form-group col-md-6">
              <label>Seats:</label>
              {{ form.maximum_seating }}
            </div>
            <div class="form-group col-md-6">
              <button type="submit" class="btn btn-primary">Calculate</button>
            </div>
        </form>

      {% block javascript %}
      <script>
          $("#id_make").change(function () {
              var makeId = $(this).val();
              $.ajax({
                type: "POST",
                url: "{% url 'get-model' %}",
                data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'make': makeId,
                },
                success: function (data) {
                  console.log(data.models);
                  let html_data = '<option value="">-------</option>';
                  data.models.forEach(function (data) {
                      html_data += `<option value="${data}">${data}</option>`
                  });
                  $("#id_model").html(html_data);
                }
              });
      });
      </script>
      {% endblock javascript %}

        











      </div>
    </div>
  </div>








{% endblock %}  