{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Project {% endblock %}
{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'website/images/img_bg_7.jpg' %})">
    <div class="overlay"></div>
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
              <span class="intro-text-small">Learn how we developed 'Mileage'</span>
              <h1>The Project</h1> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Aquí iría la presentación del proyecto</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">

        
      </div>
    </div>
  </div>

{% endblock %}	