{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}
{% block content %}


<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'website/images/img_bg_team.jpg' %})">
	<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Get to know us!</span>
							<h1>The Team</h1>	
						</div>
					</div>
				</div>
			</div>
		</div>
</header>

<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Members</h2>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_1.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/empty_avatar.png' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Alvaro Lozano Alonso</h2>
							<p>'Kinda freak, but a good guy'</p>
							<p><span class="btn btn-primary">LinkedIn Profile</span></p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_2.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/empty_avatar.png' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Andrea Lizondo Requeni</h2>
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<p><span class="btn btn-primary">LinkedIn Profile</span></p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_3.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/empty_avatar.png' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Mario Muriel Maillo</h2>
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<p><span class="btn btn-primary">LinkedIn Profile</span></p>
						</div>
					</a>
				</div>


				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_4.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/empty_avatar.png' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Pablo Abad Aparicio</h2>
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<p><span class="btn btn-primary">LinkedIn Profile</span></p>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_5.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/empty_avatar.png' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Pablo María Casero Palmero</h2>
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<p><span class="btn btn-primary">LinkedIn Profile</span></p>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>

{% endblock %}	