{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'website/images/img_team_main.jpg' %})">
	<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Get to know me!</span>
							<h1>About</h1>	
						</div>
					</div>
				</div>
			</div>
		</div>
</header>
<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 text-left gtco-heading">
					<h2>Profile</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{% static 'website/images/img_team_alvaro_cv.jpg' %}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'website/images/img_team_alvaro.jpg' %}" alt="Alvaro_Lozano" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>Alvaro Lozano Alonso</h2>
							<p align="justify">'Mechanical Engineer with a passion for Data Science'</p>
							<p><span class="btn btn-primary">Profile</span></p>
						</div>
					</a>
				</div>				
			</div>
		</div>
	</div>

{% endblock %}	